{{#unless isCollapsed}}
  {{input type='text' class='title-input' value=page.title placeholder='Name or ID'}}
  
  {{textarea rows='5' class='body-input' value=page.body placeholder='Body'}}

  {{input type='file' id=imgInputId}}

  {{#each option in page.options}}

    {{input type='text' class='option-lead' value=option.lead placeholder='Option'}}

    {{view 'select' content=pages optionLabelPath='content.title' optionValuePath='content.id' selection='null' value=option.goTo}}

  {{/each}}

  <div class='wrapper'>
    <button type='button' class='add-option btn btn-info' {{action 'addOption'}}>+ Option</button>
  </div>

  <div {{bind-attr class='fileSizeError:file-size-error:file-size :text-danger'}}>
    File size limit: 850 KB
  </div>
  
  <button type='button' class='btn btn-danger' {{action 'delete'}}>Delete</button>

  <button type='button' class='btn btn-primary' {{action 'save'}}>Save</button>

{{else}}

  {{page.title}}

{{/unless}}

<button type='button' class='btn btn-primary' {{action 'toggleCollapse'}}>
  {{#if isCollapsed}}
    Expand
  {{else}}
    Collapse
  {{/if}}
</button>

{{#if page.img}}
  <img {{bind-attr class=':img-preview :img-responsive' src=page.img}}></img>
{{/if}}

{{#if page.isDirty}}
  <div class='text-danger'>Unsaved progress</div>
{{/if}}
