<div class='story'>
  <div class='row'>
    <div class='img-upload col-xs-12 col-sm-4'>
        <img {{bind-attr class=':img-responsive' src=img}}>
        <div class='filesize-err text-danger'>
          File size limit: 850KB
        </div>
        Story Image
        <br>
        {{img-upload title=title story=model id='file-input'}}
    </div>
    <div class='story-title col-xs-12 col-sm-8'>
      {{title}}
      <div class='controls'>
        <label>First page: {{model.firstPage.title}}</label>
        <button type='button' class='btn btn-primary' {{action 'toggleCollapseAll'}}>
          {{#if collapseAll}}
            Expand All
          {{else}}
            Collapse All
          {{/if}}
        </button>
        <button type='button' class='btn btn-danger' {{action 'toggleDelete'}}>
          {{#if pendingDelete}}
            Sure?
          {{else}}
            Delete Story
          {{/if}}
        </button>
        {{#if publish}}
          {{#link-to 'published' publish}}Published{{/link-to}}
        {{else}}
          <button type='button' class='btn btn-success' {{action 'publish'}}>
            Publish
          </button>
        {{/if}}
        <div class='messages'>
          {{success}}
          {{error}}
        </div>
      </div>
    </div>

    {{#each page in model.pages}}
      {{#if collapseAll}}
        {{page-editor pages=model.pages page=page save='savePage' delete='deletePage' addOption='addOption' deleteOption='deleteOption' isCollapsed=true}}
      {{else}}
        {{page-editor pages=model.pages page=page save='savePage' delete='deletePage' addOption='addOption' deleteOption='deleteOption' isCollapsed=false}}
      {{/if}}
    {{/each}}

    <a href='' {{action 'newPage'}}>
      <div class='page-box'>
        + New Page
    </div></a>
  </div>
</div>

